@use 'colors.scss'as *;

#color-panel {
    flex-direction: column;
    display: flex;

    &>.color-panel-row {
        display: flex;
        flex-direction: row;
        padding: 2px;
        height: 28px;

        &>.color-panel-row-label {
            flex-grow: 1;
        }

        .color-panel-row-picker-box {
            width: 180px;

            .pcui-color-input {
                margin: 0;
            }
        }

        &>.color-panel-row-picker {
            margin: 0px 0px;
            padding: 0px;
            height: 24px;
        }

        &>.color-panel-row-slider {
            width: 180px;
            margin: 0px;

            &>.pcui-slider-container {
                &>.pcui-slider-bar {
                    position: relative;
                    width: calc(100% - 15px);
                    height: 5px;
                    margin: 9px;
                    background-color: $clr-bg-color;
                    border: 1px solid $clr-bg-color;

                    &>.pcui-slider-handle {
                        background-color: $clr-icon-hilight;
                        border-radius: 3px;
                        width: 5px;
                        height: 15px;
                        border: 0;
                        top: -5.5px;
                        margin-left: -2.5px;
                    }
                }
            }
        }
    }

    >.color-panel-control-row {
        display: flex;
        flex-direction: row;
        background-color: $bcg-dark;
    }

    .color-panel-control-reset {
        border-radius: 10px;
        border: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 35px;
        margin-top: 15px;
        cursor: pointer;

        .color-panel-control-reset-label {
            padding-left: 5px;
        }
    }
}