@use 'pcui-theme-grey.scss'as theme;

$text-primary: #000;
$text-secondary: theme.$text-secondary;
$text-dark: theme.$text-dark;
$text-darkest: #999;

$error: theme.$error;

$clr-default: #000;
$clr-disabled: #7c7678;
$clr-active: white;
$clr-hilight: #F4E09F; //主色调
$clr-icon-hilight: #F4E09F;
$clr-bg-color: #FAF8F1;

$bcg-lighter: #444;
$bcg-light: #555;
$bcg-primary: #fff;
$bcg-dark: #fff;
$bcg-darker: #fff;
$bcg-darkest: #fff;
$bcg-dark-f5: #F5F5F5;

// darken amount when showing modal dialogs
$bcg-darken: rgba(0, 0, 0, 0.25);