@use 'colors.scss'as *;

.panel {
    position: absolute;
    border-radius: 10px;
    overflow: hidden;

    background-color: $bcg-primary;



    &>.panel-header-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $bcg-dark;
        padding: 0 20px;
        border-bottom: 3px solid #F8F3EE;
        height: 44px;

        &>.panel-import-button {
            width: 24px;
            height: 24px;
            cursor: pointer;
        }

        &>.panel-header-label {
            color: #C89F7D;
            font-weight: 600;
            flex-grow: 1;
            font-size: 16px;
        }
    }

    .panel-header-button {
        font-family: pc-icon;
        font-weight: bold;
        font-size: 13px;
        color: $clr-hilight;

        padding: 4px;
        flex-grow: 0;
        flex-shrink: 0;

        border-radius: 4px;

        text-align: center;

        svg {
            color: $clr-hilight;
        }

        &:hover {
            color: #ff9900;
            background-color: $bcg-darkest;
            cursor: pointer;
        }
    }

    .panel-collapse-button {
        cursor: pointer;
        padding: 0 5px;
    }


    .panel-header-spacer {
        flex-grow: 1;
        padding: 0px;
        margin: 0px;
    }

    .step-box {
        max-height: 62vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0 20px;
    }

    .bottom-box {
        padding: 20px;
        box-shadow: 0 -1px 3px 0 #F5F5F5;

        .btn-warning {
            margin-top: 20px;
        }
    }

    .title-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        cursor: pointer;

        .arrow-icon {
            transition: transform 0.2s ease;
            width: 20px;
            height: 20px;
        }
    }

    .transform-header-title {
        font-weight: 600;
    }

    .transform-panel-box,
    .color-panel-box {
        padding-bottom: 15px;
    }

    .panel-item-box {
        border-bottom: 1px solid $bcg-dark-f5;

        .btn-primary {
            margin-top: 15px;
        }
    }

    .print-size-inputs {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-grow: 1;
    }

    .print-size-input {
        flex: 1;
        height: 24px;
        line-height: 24px;
        margin: 0px;
        border-radius: 4px;
        background: $bcg-dark-f5;
        overflow: hidden;
        padding: 0 5px;

        &>input {
            padding: 0px;
            margin: 0px;
            height: 24px;
            background-color: transparent;
            color: $text-secondary;
        }
    }

    .size-row {
        box-sizing: border-box;
        height: 32px;
        line-height: 32px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-items: center;
        padding-bottom: 20px;
    }

    .title-label-box {
        display: flex;
        align-items: center;

        .transform-header-title {
            margin-right: 10px;
        }
    }

    .title-upload-svg-box {
        svg {
            width: 20px;
            height: 20px;
        }
    }

    .upload-tips-box {
        text-align: center;
        cursor: pointer;
        padding-bottom: 20px;

        svg {
            width: 30px;
            height: 30px;
        }

        .upload-tips-content {
            text-align: center;
            margin-top: 5px;
        }

        .upload-tips-text {
            color: #999999;
            font-size: 12px;
            line-height: 16px;
        }
    }

}