@use 'colors.scss'as *;

#popup {
    width: 100%;
    height: 100%;

    background-color: $bcg-darken;
    pointer-events: all;

    #popup-dialog {
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 320px;
        max-width: 470px;
        transform: translate(-50%, -50%);
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 10px;
        padding: 30px;
        padding-bottom: 18px;
        background-color: $bcg-primary;
        color: $text-primary;

        #popup-header {
            font-size: 20px;
            margin-bottom: 25px;
        }

        #popup-text {
            line-height: 22px;
            text-wrap: wrap;
            color: $text-primary;
            margin-bottom: 20px;
            font-size: 14px;
            padding-right: 20px;
        }

        #popup-link-row {
            margin: 20px 10px;

            &:not(.pcui-hidden) {
                display: flex;
            }

            #popup-link-text {
                width: 360px;
                height: 32px;
                line-height: 32px;

                background-color: $bcg-dark;
                text-align: center;

                a {
                    color: $clr-hilight;
                    font-weight: bold;
                    font-size: 14px;
                    text-decoration-line: none;
                }

                ;
            }

            #popup-link-copy {
                width: 32px;
                height: 32px;
                line-height: 24px;
                font-family: 'pc-icon';
            }
        }

        #popup-buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .popup-button {
                height: 50px;
                line-height: 48px;
                width: 145px;
                border-radius: 10px;
                border: 1.5px solid #000;
                text-align: center;
                color: #000;
                font-size: 20px;
                font-weight: 500;
                background: $bcg-primary;

                &:nth-child(1),
                &:nth-child(3) {
                    background: $clr-hilight;
                    border: 1.5px solid $clr-hilight;
                }
            }
        }
    }
}