#scene-panel {
    top: 100px;
    left: 87px;
    width: 320px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 6px 8px 0 #F5F5F5;
    box-sizing: border-box;
    position: fixed;
}

.collapsed #scene-panel {
    width: 125px;
    overflow: hidden;
    padding-bottom: 0;
}

.collapsed .step-box,
.collapsed .bottom-box {
    display: none;
}


.splat-list-container {
    max-height: 300px;
    overflow: auto;
}