@use 'colors.scss'as *;

.tooltips {
    background-color: $bcg-dark-f5;
    position: absolute;
    border-radius: 6px;
    padding: 3px 8px;
}

.tooltips-content {
    color: $text-primary;
    margin: 2px;
}