@use 'colors.scss'as *;

.tooltips {
    background-color: #F5F5F5;
    position: absolute;
    background-color: $bcg-darkest;
    border-radius: 6px;
    padding: 1px 3px;
}

.tooltips-content {
    color: $text-primary;
    margin: 2px;
}